<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ducimus,
    perferendis ex accusamus aspernatur, voluptas ratione qui explicabo nam esse
    iste? Voluptates provident molestiae asperiores cumque, obcaecati rem in
    quasi, repellat maiores quaerat sed? Illo deserunt corporis numquam
    inventore porro odio sequi aperiam iure deleniti fugit, ratione enim quas
    minus optio facere sint eum incidunt? Vitae, et eum cumque rerum, molestiae
    ipsam dicta atque tempore, quae fugit reprehenderit sequi aperiam? Dicta
    quis fuga iusto architecto doloribus qui similique numquam provident
    dolorem, vel quasi aliquid deleniti magni alias beatae natus cum possimus
    rerum quidem corporis expedita illum! Animi nesciunt ea aliquam quam culpa
    impedit ad quas a reprehenderit, asperiores deleniti perspiciatis eveniet
    inventore mollitia, praesentium quod repudiandae illo error adipisci autem
    iure provident ut. Officia ratione vero cupiditate neque optio rem
    voluptatibus eligendi modi fuga, reprehenderit provident molestias accusamus
    voluptatum cumque quae consequuntur impedit quaerat asperiores quos fugit?
    Eius libero dolores quibusdam. Nisi cupiditate, fugit ad non doloremque
    assumenda nostrum, voluptatibus et alias, natus mollitia distinctio ex sint
    repellendus iste excepturi. Officiis ullam, excepturi illo iure facilis
    quibusdam dolor corrupti, non accusantium pariatur, vero rem et beatae
    minima. Corrupti eveniet saepe consequuntur quibusdam laboriosam ipsa soluta
    a. Illo rerum odit voluptatum!
  </p>
</article>
